<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YTLWebApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!-- Use encrypted connection strings with secure settings -->
    <add key="sqlserverconnection" value="Data Source=LAPTOP-MS6HUBRJ;Database=ytldb;Integrated Security=SSPI;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=False;Connection Timeout=30;Command Timeout=30;" />
    <add key="sqlserverconnection2" value="Data Source=LAPTOP-MS6HUBRJ;Database=ytldb;Integrated Security=SSPI;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=False;Connection Timeout=30;Command Timeout=30;" />
    
    <!-- Security settings -->
    <add key="SessionTimeoutMinutes" value="30" />
    <add key="MaxLoginAttempts" value="5" />
    <add key="LockoutDurationMinutes" value="15" />
    <add key="RequireSSL" value="true" />
    <add key="EnableAuditLogging" value="true" />
  </appSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=LAPTOP-MS6HUBRJ;Database=ytldb;Integrated Security=SSPI;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=False;Connection Timeout=30;Command Timeout=30;" />
  </connectionStrings>
  
  <system.web>
    <compilation targetFramework="4.5.1" debug="false" tempDirectory="~/App_Data/Temp/" />
    
    <!-- Secure authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" 
             timeout="30" 
             requireSSL="true" 
             slidingExpiration="true" 
             cookieless="false" 
             protection="All" 
             enableCrossAppRedirects="false"
             name="__YTLAUTH" />
    </authentication>
    
    <!-- Authorization -->
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    
    <!-- Secure session state -->
    <sessionState mode="InProc" 
                  timeout="30" 
                  cookieTimeout="30" 
                  cookieless="false" 
                  cookieSameSite="Strict" 
                  httpOnlyCookies="true" 
                  requireSSL="true"
                  regenerateExpiredSessionId="true" />
    
    <!-- Security headers and cookies -->
    <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Strict" />
    
    <!-- Custom errors - don't expose details -->
    <customErrors mode="On" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/NotFound.aspx" />
      <error statusCode="500" redirect="~/Error.aspx" />
      <error statusCode="403" redirect="~/AccessDenied.aspx" />
    </customErrors>
    
    <!-- Request validation and limits -->
    <httpRuntime targetFramework="4.5.1" 
                 requestValidationMode="4.5" 
                 enableVersionHeader="false" 
                 maxRequestLength="4096" 
                 executionTimeout="300"
                 requestLengthDiskThreshold="256"
                 maxUrlLength="260"
                 maxQueryStringLength="2048"
                 enableHeaderChecking="true" />
    
    <!-- Page settings -->
    <pages controlRenderingCompatibilityVersion="4.0" 
           clientIDMode="AutoID" 
           validateRequest="true" 
           enableViewStateMac="true" 
           viewStateEncryptionMode="Always"
           enableEventValidation="true" />
    
    <!-- Disable trace and debug -->
    <trace enabled="false" />
    <compilation debug="false" />
    
    <!-- Machine key for encryption (generate secure keys in production) -->
    <machineKey validationKey="[GENERATE_128_CHAR_HEX_KEY]" 
                decryptionKey="[GENERATE_48_CHAR_HEX_KEY]" 
                validation="HMACSHA256" 
                decryption="AES" />
    
    <!-- HTTP modules -->
    <httpModules>
      <add name="SecurityModule" type="YTLWebApplication.SecurityModule" />
    </httpModules>
    
    <!-- Web services security -->
    <webServices>
      <protocols>
        <remove name="HttpGet" />
        <remove name="HttpPost" />
        <remove name="Documentation" />
      </protocols>
    </webServices>
    
    <!-- Trust level -->
    <trust level="Full" />
  </system.web>
  
  <system.webServer>
    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data: https:; font-src 'self'; connect-src 'self'; frame-ancestors 'none';" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Force HTTPS -->
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Request filtering -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4194304" maxUrl="260" maxQueryString="2048" />
        <verbs>
          <remove verb="TRACE" />
          <remove verb="OPTIONS" />
        </verbs>
        <hiddenSegments>
          <add segment="App_Data" />
          <add segment="App_Code" />
          <add segment="bin" />
        </hiddenSegments>
        <fileExtensions>
          <remove fileExtension=".config" />
          <add fileExtension=".config" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    
    <!-- Compression -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
    <!-- Static content -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".kml" />
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
    </staticContent>
    
    <!-- Modules -->
    <modules runAllManagedModulesForAllRequests="false">
      <add name="SecurityModule" type="YTLWebApplication.SecurityModule" />
    </modules>
    
    <!-- Handlers -->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
    <!-- Error pages -->
    <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="Redirect" path="/NotFound.aspx" />
      <remove statusCode="500" />
      <error statusCode="500" responseMode="Redirect" path="/Error.aspx" />
    </httpErrors>
  </system.webServer>
  
  <!-- JSON serialization limits -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2097152" />
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <!-- Assembly binding -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <!-- Service model -->
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  
  <!-- Application settings -->
  <applicationSettings>
    <YTLWebApplication.My.MySettings>
      <setting name="YTLWebApplication_SMSInsert_GlobalSimService" serializeAs="String">
        <value>https://fleet.avls.com.my/GlobalSimService.asmx</value>
      </setting>
    </YTLWebApplication.My.MySettings>
  </applicationSettings>
  
  <!-- Location-specific security -->
  <location path="App_Data">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="App_Code">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="bin">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>